.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 90%;
}

.tab-button {
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    width: 49%;
    margin: .5rem;
    text-align: center;
    border-radius: 13px;
    background: #8281ea;
    box-shadow:  4px 4px 7px #6f6ec7,
                 -4px -4px 7px #9694ff;
    font-size: 1.5rem;
    font-weight: 700;
}

.tab-button--selected {
    border-radius: 13px;
    background: #9190f9;
    box-shadow:  4px 4px 7px #7b7ad4,
                -4px -4px 7px #a7a6ff;
}


.tab-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tab-content {
    margin-top: .5rem;
    padding: 1rem;
    height: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 2rem;
    
}